<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link href="./css/style.css" type="text/css" rel="stylesheet"/>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <title>Text-to-Morse</title>
  </head>
  <body>
  <div id="app">
      <vue-header></vue-header>
      <div v-if="welcome" id="welcome_interface">
        <h1 id="option_select">Please select one of the options below</h1>
        <div id="option_block">
          <div align="center" v-on:click="ttmbutton" style="margin-right: 3%" class="option">
            <a href="#" class="option_text">Text-to-Morse</a>
          </div>
          <div align="center" v-on:click="mttbutton" style="margin-left: 3%" class="option">
            <a href="#" class="option_text">Morse-to-Text</a>
          </div>
        </div>
      </div>
      <div v-if="ttm" id="pageinterface">
          <h1>Text-to-Morse</h1>
          <div id="textBox">
            <p>{{morse}}</p>
            <form @submit.prevent="sendText">
              <input type="text" placeholder="Text to morse" v-model:value="text" autocomplete="off" />
              <button>Send</button>
            </form>
            <a href="index.html">Back to Home Page</a>
          </div>
        </div>
      <div v-if="mtt" id="pageinterface">
            <h1>Morse-to-Text</h1>
            <div id="textBox">
              <p>{{text}}</p>
              <form @submit.prevent="sendMorse">
                <input type="text" placeholder="Text to morse" v-model:value="morse" autocomplete="off" />
                <button>Send</button>
              </form>
              <a href="index.html">Back to Home Page</a>
            </div>
        </div>
      <vue-footer></vue-footer>
  </div>
  <script type="text/javascript" src="vue.js"></script>
  </body>
</html>
